<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Relevant</title>
</head>
<body>
    <h1>Relevant</h1>
    <p>Welcome to being relevant</p>

    <main>
        <header>
            <a href="/gregister">Join Us</a>
            <a href="/glogin">Login</a>
            <a href="/logout">Log Out</a>
        </header>
    </main>
</body>
</html>