<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/register">Join Us</a>
            <a href="/contact">Contact Us</a>
        </div>
    </header>
    <main>
        <h2>Log in</h2>
        <form action="/plogin" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Not a member?<a href="/gregister"> Join us</a></p>
    </main>
    <footer class="footer">
        &copy; 2024 Relevant. All rights reserved.
    </footer>
</body>
</html>