<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Session | Chat</title>
</head>
<body>
    <h1>Session, {{ .Identifier }}.</h1>
    <p>You are currently logged in as: {{ .OwnerId }}</p>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout">
    </form>
    
    <h2>Recent Messages:</h2>
    <div class="chatbox">
        {{ range $msg := .Messages }}
            {{ $msg.MemberId }} ": " {{ $msg.Content }}
        {{ end }}
    </div>
    
    <form method="POST" action="/send">
        <input type="text" name="message" id="message">
        <input type="submit" value="Send">
    </form>
    <script src="/static/script/socket.js"></script>
    
</body>
</html>