<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available sessions</title>
</head>
<body>
    <h1>Available sessions</h1>
    <form method="POST" action="/logout">
        <input type="submit" value="Logout">
    </form>
    <div>    
    {{ range $session := . }}
        <p>Session {{ $session.Identifier }}</p>
        <div>
            <a href="/sjoin/{{$session.Identifier}}">{{ $session.Identifier }}</a>
        </div>
    {{ end }}
    </div>
    
    <form method="POST" action="/send">
        <input type="text" name="message" id="message">
        <input type="submit" value="Send">
    </form>
    <script src="/static/script/socket.js"></script>  <!-- Include this script in your HTML file -->  <!-- This script will establish a WebSocket connection and handle incoming messages -->  <!-- Make sure to replace "/ws" with the actual WebSocket endpoint of your server -->
    
</body>
</html>